/* message tweak for bigger avatars */
.cozy-3raOZG.groupStart-23k01U.cozyMessage-3V1Y8y.message-2qnXI6 > .container-3FojY8.container-2LR0t2 > .clickableHeader-2Cygs8.header-23xsNx > .avatar-1BDn8e {
    width: 64px;
    height: 64px;
    margin-right: 0px;
    margin-left: 10px;
}
.container-3FojY8 {
    overflow: unset;
    padding: 0px 16px 0px 72px;
}
.timestampCozyAlt-1Hs08c {
    left: unset;
    right: 0px;
}
.cozy-3raOZG .header-23xsNx {
    padding-left: 79px;
    margin-left: -73px;
}
.container-1ov-mD, .containerCozy-336-Cz {
    margin-left: 7px;
}
.group-spacing-0 .groupStart-23k01U, .group-spacing-4 .groupStart-23k01U, .group-spacing-8 .groupStart-23k01U, .group-spacing-16 .groupStart-23k01U, .group-spacing-24 .groupStart-23k01U {
    margin-top: 41px !important;
}
.group-spacing-0 .hasContent-1_DUdQ, .group-spacing-4 .beforeGroup-1rH1F0, .group-spacing-4 .hasContent-1_DUdQ, .group-spacing-8 .beforeGroup-1rH1F0, .group-spacing-8 .hasContent-1_DUdQ, .group-spacing-16 .beforeGroup-1rH1F0, .group-spacing-16 .hasContent-1_DUdQ, .group-spacing-24 .beforeGroup-1rH1F0 {
    margin-top:.5rem;
    margin-bottom:-1px; 
    top: 0px;
}