/* 
border-radius: 
15% = Rounded, 0% = Squared
change the % as needed
*/

.maskProfile-1ObLFT, .mask-3OgeRz {
    -webkit-mask: none;
    mask: none;
}

.large-3ChYtB {
    border-radius: 15%;
}
.image-33JSyf.popout-2fzvxG.maskProfile-1ObLFT.mask-3OgeRz {
    border-radius: 15%;
}
.avatarHint-1qgaV3 {
    border-radius: 15%;
}
.image-33JSyf.profile-ZOdGIb.maskProfile-1ObLFT.mask-3OgeRz {
    border-radius: 15%;
}
