/* CHAT INPUT BACKGROUND */
.theme-dark .chat form {
    background: #0f0f0f !important;
}

.theme-dark .inner-3if5cm {
    background-color: #161616 !important;
    border-color: #0f0f0f !important;
}