/*
Use your default text editor's find & replace function to 
replace all #009933 with a hex color of your choice.
*/


/* voice menu checkboxes */
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: #009933;
    border-color: #009933;
}

/* @mentions menu */
.theme-dark .channel-textarea-autocomplete-inner header {
    color: #009933;
}

.theme-dark .channel-textarea-autocomplete-inner ul li.active {
    border-left: 2px solid #009933;
}

/* voice debug selected */
.tab-bar.SIDE .tab-bar-item:before {
    border-left: 4px solid #009933;
}

/* Muted alert*/
.alert.form .form-inner .btn {
    border: 1px solid #009933;
}

.form .btn-primary:hover {
    background-color: #009933;
}

/*changelog links*/
.markdown-modal a {
    color: #009933;
}

/* help modal links */
.need-help-modal a:hover {
    color: #009933;
}

.need-help-modal a {
    color: #009933;
}

/*app links*/
.app a {
    color: #009933;
}

/* direct messages button */
.guilds-wrapper .guilds .guild .guild-inner {
  background-color: #009933 !important;
}

/*selected server highlight */
.guilds-wrapper .guilds .guild.selected:before {
    background: #009933;
}

/** send friend request */
#user-profile-modal .actions .btn.add-friend:hover {
    background: #009933;
}

#user-profile-modal .actions .btn.add-friend {
    background: #009933;
}

/* add friend button*/
.theme-dark #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: #009933;
}

.theme-dark #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: #009933;
}

/* user profile page selected option*/
#user-profile-modal .tab-bar-item.selected {
    color: #009933!important;
    border-bottom-color: #009933!important;
}

/* NEW MESSAGES BAR*/
.chat .new-messages-bar {
    background-color: #009933;
}

.chat .new-messages-bar:hover {
    background-color: #009933;
}

/*HYPERLINK COLOR*/
.theme-dark .message-group a {
    color: #009933
}

/* @MENTION COLOR */
.mention {
    color: #009933;
}

.mentioned .mention:hover {
    color: #cccccc;
}

.theme-dark .message-group .comment .markup .mention:hover {
  background-color: transparent;
    color: #cccccc;
}

/* TOOL TIPS */
.tooltip {
    background-color: #009933;
}

.tooltip.tooltip-top:after {
    border-top-color: #009933;
}

.tooltip.tooltip-right:after {
    border-right-color: #009933;
}

.tooltip.tooltip-bottom:after {
    border-bottom-color: #009933;
}

/* USER SETTINGS */
.buttonBrandFilled-3Mv0Ra {
    background-color: #009933;
}

.buttonBrandFilledDefault-2Rs6u5:hover {
    background-color: #009933;
}

.ui-tab-bar.SIDE .ui-tab-bar-item.selected {
    background-color: #009933;
}

/*switch button color*/
.ui-switch-checkbox:checked+.ui-switch {
    background: #009933;
}

.ui-switch-wrapper:not(.disabled):not(.clear):hover .ui-switch-checkbox:checked+.ui-switch {
    background: #009933;
}

/*discord nitro*/
.ui-tab-bar.SIDE .ui-tab-bar-item.brand {
    color: #009933;
}

/* slider bar color*/
.ui-slider .slider-bar-fill {
    background: #009933;
}

/* user voice volume slider */
.slider-bar-fill {
    background: #009933;
}

/*selected option color*/
.radio-item.flex-horizontal.margin-bottom-8.checked.cardPrimaryEditable-2IQ7-V.card-3DrRmC {
  border-color: #009933 !important;
  background-color: #009933 !important;
}

/* create/join server popup menu*/
.form header {
    color: #009933;
}

.create-guild-container .action.create .action-header {
    color: #009933;
}

.create-guild-container .action:hover.create .btn {
    background-color: #009933;
}

.form .btn-primary {
    background-color: #009933;
}

/* File uploader */
.upload-modal .inner .file .icon.image {
    border: 2px solid #009933;
}

.channel-textarea-autocomplete-inner header {
    background-color: #009933;
    color: #ffffff;
}

.upload-modal .footer .button-primary {
    color: #ffffff;
    background-color: #009933 !important;
}

/* edit focus border */
.theme-dark .ui-text-input .input.editable:focus:focus, .theme-dark .ui-text-input .input.editable:hover:focus, .theme-dark .ui-text-input .input:focus {
    border-color: #009933;
}

#autocomplete-popout .empty h4 {
    color: #009933;
}

/* confirm saved  */
.buttonGreenFilled-6QHNrw {
    background-color: #009933;
}

.ui-tab-bar.SIDE .ui-tab-bar-item.selected, .ui-tab-bar.SIDE .ui-tab-bar-item:active {
    background-color: #009933;
}

/* invite link modal */
#instant-invite-modal .copy {
    background-color: #009933;
}

#instant-invite-modal .clipboard-input-inner input {
    color: #009933;
}

.create-guild-container .join-server .sample-link {
    color: #009933;
}

.create-guild-container .join-server .link-container input:focus {
    border-bottom: 1px solid #009933;
}

/* edit message highlight */
.message-group .edit-message .channel-textarea-inner {
    border-color: #009933;
}

.message-group .edit-message .edit-operation>a {
    color: #009933;
}

/*  create dm button */
.private-channel-recipients-invite .footer button {
    background-color: #009933;
}

.private-channel-recipients-invite .footer button:hover {
    background-color: #009933;
}

.private-channel-recipients-invite .footer button:disabled:hover {
    background-color: #009933;
}

/* create text channel highlight */
.form .control-group input[type=email]:focus, .form .control-group input[type=number]:focus, .form .control-group input[type=password]:focus, .form .control-group input[type=text]:focus, .form .control-group textarea:focus {
    border-bottom: 2px solid #009933;
}

/* change nickname */
form .control-group label a {
    color: #009933;
} 

.form .control-group label a:hover {
    color: #009933;
}

/* mention */
.message-group .mentioned .message-text:after {
    background: #000;
    border-left: 4px solid #009933;
}

.theme-dark .message-group .mentioned .message-text {
    background: rgba(0,0,0,.4);
}