.theme-dark .isMentioned-N-h9aa {
    background: linear-gradient(#111111, #1c1c1c);
    border: groove 2px #222;
    margin-top: 7px;
}
.isMentionedCozy-3isp7y:after {
    background: transparent;
    border-left: 4px groove #444;
}
